.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 14px;
  margin-bottom: 15px;
  padding:0 10px 0 10px;
  border: 1px solid black;
}

